@media screen and (max-width: 1199.99px) {
  .navbar-nav {
    max-width: 540px;
  }

  .calculation-img {
    width: 35vw;
  }

  .bg-accent {
    &:before {
      inset: 0 12px;
    }
  }

  .about-section .container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 42px;
    justify-content: center;
    text-align: justify;
  }

  .about-section .template-title_case-2 h2 {
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
