@media screen and (max-width: 575.99px) {
  .about__img-box {
    max-width: 300px;
  }

  .about-text__description {
    font-size: 16px;
    line-height: 150%;
  }

  .faq-form__title {
    text-align: center;
  }

  .faq-form__subtitle {
    text-align: center;
    font-weight: 400;
  }

  .faq-form {
    padding: 38px 20px;
  }
}
