@use '../variables.scss' as variables;

@media screen and (max-width: 991.98px) {
  section {
    margin-bottom: variables.$section-margin-mobile;
  }

  h2 {
    font-size: 24px;
  }

  .logo {
    max-width: 126px;
  }

  .navbar {
    padding: 16px 0 15px;
  }

  .navbar-collapse {
    background-color: variables.$bg-color-accent;
    margin: 0 -12px;
    text-align: center;
    transform: translate(0, 12px);
  }

  .navbar-nav {
    padding: 37px 0 34px;
    + .btn {
      margin-bottom: 60px;
      width: 100%;
      max-width: 295px;
      font-size: 16px;
      padding: 21px 27px;
    }
  }

  .nav-link {
    color: #fff;
    font-size: 24px;
    line-height: 222%;
    &:hover {
      color: variables.$primary-color;
    }
  }

  .bg-accent {
    padding: 55px 0 60px;

    &:before {
      border-radius: 0;
      inset: 0;
    }
  }

  .template-title {
    &.template-title_case-3 {
      text-align: center;
      max-width: 100%;
      padding-bottom: 70px;

      h2 {
        &::after {
          @include variables.title-line;
          margin: 0;
        }
      }
    }
  }

  .bg-accent {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .swiper-banner {
    .swiper-slide {
      display: flex;
      align-items: center;
      text-align: center;
      min-height: calc(100vh - var(--header-height));

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: #04091199;
        z-index: -1;
      }

      .container {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }

  .banner-title {
    font-size: 36px;
  }

  .banner-description {
    font-size: 16px;
    margin-bottom: 18px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .calculation-form {
    margin-left: auto;
    margin-right: auto;
  }

  .calculation-img {
    display: none;
  }

  .input-box_checkbox:first-child {
    margin-top: 6px;
  }

  .advantage__title {
    max-width: 218px;
    margin: 0 auto 40px;
  }

  .about-section .template-title_case-2 h2 {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .delivery {
    .card__btn-row .btn {
      width: auto;
      height: auto;
      margin: 0 auto;
    }
  }

  .bt .about-section .container {
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 47px;

    .about__img-box {
      max-width: 400px;
      height: auto;
    }

    .about-text__description {
      margin: 0 auto;
    }
  }

  .faq__row {
    flex-direction: column;
  }

  .about-faq .accordion .accordion-item .accordion-button {
    padding: 16px 21px 12px 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    gap: 20px;
  }

  .about-faq .accordion .accordion-body {
    padding: 2px 21px 0px;
  }

  .about-faq .list-group-horizontal > .list-group-item.active,
  .about-faq dl,
  .about-faq ol,
  .about-faq p,
  .about-faq ul {
    margin-top: 0;

    font-weight: 300;
    font-size: 14px;
    line-height: 145%;
    color: #ffffff;
  }

  .faq-form {
    min-width: 335px;
    padding: 38px 20px;
  }

  .faq-form .btn-lg {
    max-width: 100%;
    height: 68px;
    padding: 0 28px;
    gap: 0px;

    .btn-text {
      line-height: 146%;
    }
    .btn-arrow {
      flex-shrink: 0;
      margin-left: auto;
    }
  }

  .faq-form__title,
  .faq-form__subtitle {
    text-align: center;
    padding: 0px 12px 0px 12px;
  }
}
