@use "variables" as variables;

.advantages {
	.swiper-pagination {
		position: static;
	}
}

.advantage {
	text-align: center;
}

.advantage__img-box {
	width: 113px;
	height: 113px;
	border: 1px solid #6c7188;
	margin: 0 auto 22px;
	border-radius: 50%;
	position: relative;
	@include variables.flex-centered;
}

.advantage__img-box:before {
	content: "";
	position: absolute;
	inset: 10px;
	background: variables.$secondary-color;
	border-radius: 50%;
	z-index: -1;
}

.advantage__title {
	font-size: 18px;
	font-weight: 400;
}

.advantages .swiper-horizontal > .swiper-pagination-bullets,
.advantages .swiper-pagination-bullets.swiper-pagination-horizontal {
	top: calc(100% - 59px);
	margin: 0 auto;
}
