@use "variables" as variables;

.logo {
	max-width: 172px;
}

.navbar {
	padding: 25px 0 40px;
}

.navbar-nav {
	max-width: 619px;
	padding: 5px 0 0 0;
}

.nav-link {
	color: variables.$color;
	&:hover {
		color: variables.$primary-color;
	}
}

.hamburger {
	padding: 8px 7px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:focus {
		box-shadow: none;
	}
}

.hamburger-box {
	width: 27px;
	height: 25px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #fff;
	width: 27px;
	height: 2px;
}

.hamburger--collapse .hamburger-inner {
	top: auto;
	bottom: 2px;
}
