@use 'variables' as variables;

.template-carousel {
  position: relative;

  .card {
    margin: 0 auto;
  }
}

.delivery .template-carousel .swiper .swiper-pagination {
  position: static;
  margin-top: 32px;
  margin-left: 0px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;

  &-active {
    background-color: #fff;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 13px);
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  position: static;
  margin-bottom: 0;

  &:hover {
    color: variables.$secondary-color;
  }
}

.swiper-arrow-container {
  @include variables.swiper-arrow-container;
  width: calc(100% + 183px);
}
