$font-primary: 'Open Sans';
$font-secondary: 'monospace';
$font-size: 16px;

$primary-color: #e58d35;
$secondary-color: #89c249;
$bg-color: #282b38;
$bg-color-accent: #363a4d;
$color: #ffffff;

$section-margin: 100px;
$section-margin-mobile: 60px;

@mixin title-line {
  content: '';
  position: absolute;
  width: 85px;
  height: 2px;
  background-color: $primary-color;
  bottom: 54px;
  left: 50%;
  transform: translate(-50%);
}

@mixin swiper-arrow-container {
  --padding: 20px;
  height: 0px;
  position: absolute;
  top: calc(50% - 23px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: calc(1503px + var(--padding) * 2);
  padding: 0 var(--padding);
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
