<section class="about-faq">
  <div class="container">
    <div class="template-title">
      <h2>Frequently asked questions</h2>
    </div>
    <div class="faq__row">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              How is the shipping cost calculated?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>The cost of delivery is usually calculated based on several factors: the weight and dimensions of the cargo, the distance, and the method of delivery.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              How is payment for cargo delivery made?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Payment can be made in cash or by bank transfer, including bank cards and e-wallets.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              How cargo customs clearance works?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>The process includes filing a customs declaration, paying duties and taxes, and checking the documents and the cargo itself.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Can I pay the supplier for the goods through you?
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Alipaywallet is a payment system that was created specifically for paying for goods and services on AliExpress.com and Alibaba.com, with the ability to accept payments for merchants
                trading on these platforms.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              What is special about CARGO delivery from China?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                The main feature of cargo delivery from China is a simplified customs clearance and delivery process, where all concerns, including customs clearance, are handled by the logistics
                company.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              What is the delivery time from China?
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                We carefully pack your cargo. We wrap all the places with tape to prevent the box from tearing or moisture during delivery from China. If necessary, we agree and make additional
                packaging.
              </p>
            </div>
          </div>
        </div>
      </div>
      <form class="faq-form">
        <h3 class="faq-form__title">Do you have any questions?</h3>
        <h6 class="faq-form__subtitle">Leave a request and our manager will respond to you shortly.</h6>
        <div class="input-box">
          <input id="text" type="text" placeholder="Name *" inputmode="text" />
        </div>
        <div class="input-box">
          <input id="number" type="number" placeholder="Phone *" inputmode="numeric" />
        </div>
        <div class="input-box">
          <input id="email" type="email" placeholder="E-mail" inputmode="email" />
        </div>
        <div class="input-box">
          <textarea id="question" placeholder="Your question"></textarea>
        </div>
        <button type="submit" href="#" class="btn btn-lg btn-primary">
          Send a request
          <img src="assets/img/icon-arrow-left.svg" class="btn-arrow" alt="arrow" />
        </button>
      </form>
    </div>
  </div>
</section>
