<section class="advantages bg-accent">
  <div class="container">
    <div class="template-title">
      <h2>Why choose us?</h2>
    </div>
    <div id="advantages" class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="advantage">
            <div class="advantage__img-box">
              <img src="assets/img/advantage-1.svg" class="advantag__img" />
            </div>
            <h6 class="advantage__title">Customs clearance of cargo</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage">
            <div class="advantage__img-box">
              <img src="assets/img/advantage-2.svg" class="advantag__img" />
            </div>
            <h6 class="advantage__title">Cargo insurance</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage">
            <div class="advantage__img-box">
              <img src="assets/img/advantage-3.svg" class="advantag__img" />
            </div>
            <h6 class="advantage__title">Checking goods for defects</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage">
            <div class="advantage__img-box">
              <img src="assets/img/advantage-4.svg" class="advantag__img" />
            </div>
            <h6 class="advantage__title">Delivery to any city of Ukraine</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage">
            <div class="advantage__img-box">
              <img src="assets/img/advantage-5.svg" class="advantag__img" />
            </div>
            <h6 class="advantage__title">Consolidation in stock</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage">
            <div class="advantage__img-box">
              <img src="assets/img/advantage-6.svg" class="advantag__img" />
            </div>
            <h6 class="advantage__title">Responsible storage of cargo</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage">
            <div class="advantage__img-box">
              <img src="assets/img/advantage-7.svg" class="advantag__img" />
            </div>
            <h6 class="advantage__title">Assistance in paying for goods</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="advantage">
            <div class="advantage__img-box">
              <img src="assets/img/advantage-8.svg" class="advantag__img" />
            </div>
            <h6 class="advantage__title">Packing, repacking, palletizing of cargo</h6>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
