<section class="cooperation bg-accent">
  <div class="container">
    <div class="template-title">
      <h2>Ready to collaborate?</h2>
      <h3>Register your shipment!</h3>
    </div>
    <div class="cooperation__content">
      <div class="cooperation__content-item">
        <p>• In order to start cooperation, it is necessary to register the cargo, specifying information about its contents, value, and quantity. You should also attach photos to the application.</p>
        <p>
          • If you require verification of the quantity of goods, please indicate this in the “Comments” section when placing your order on our website. This service is subject to a fee of 3 yuan per
          item in the order. Any additional cargo checks are discussed individually, including their cost.
        </p>
        <p>
          • Before sending your shipment to our warehouse in China, please make sure to label each outer box with your order number from our website so that we can identify your shipment. If you are
          unable to do this yourself, please ask your supplier to do so.
        </p>
      </div>
      <div class="cooperation__content-item order-mobile-negative">
        <img src="assets/img/cooperation-1.png" alt="cooperation" />
      </div>
      <div class="cooperation__content-item">
        <img src="assets/img/cooperation-2.png" alt="cooperation" />
      </div>
      <div class="cooperation__content-item">
        <p>
          • After sending the cargo to our warehouse in China, you must specify the tracking number for tracking parcels in China for each item in the order. You can enter the tracking number on the
          order page. The tracking number is another measure for identifying your cargo in our warehouse.
        </p>
        <p>
          • If you have registered your shipment according to our instructions and done everything correctly, then upon receipt of your shipment at the warehouse in China, the order status will change
          to “In stock.”
        </p>
        <p>
          • When the goods arrive at the warehouse and the order status changes, you will receive a notification to the email address you provided during registration. The email will contain
          up-to-date information about the order, including the date of arrival, order number, and further steps for processing it.
        </p>
      </div>
    </div>
  </div>
</section>
