<section class="delivery">
	<div class="container">
		<div class="template-title">
			<h2>Shipping options from China</h2>
			<div class="card">
				<div
					class="card__img-box"
					role="img"
					aria-label="Description of the overall image"
				></div>
				<img
					src="assets/img/delivery-1.png"
					class="card-img-top"
					alt="delivery"
				/>
				<div class="card-body">
					<h5 class="card-title">Auto - Standard</h5>
					<ul class="card__options-list">
						<li class="card__options-item">
							<img src="assets/img/icon-calendar.svg" alt="calendar" />9–15 days
						</li>
						<li class="card__options-item">
							<img src="assets/img/icon-box.svg" alt="box" />from 5 kg
						</li>
					</ul>
					<div class="card__price">
						<span>from </span>
						<strong>2,5</strong>
						<span>$/kg</span>
					</div>
					<div class="card__btn-row">
						<a href="#" class="btn btn-sm btn-primary">Submit a request </a>
						<a href="#" class="btn btn-sm btn-secondary">Learn more </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
