<section class="swiper swiper-banner">
	<div class="swiper-wrapper">
		<div
			class="swiper-slide"
			style="background-image: url(assets/img/banner-1.png)"
		>
			<div class="container">
				<h1 class="banner-title">Прямое КАРГО из Китая</h1>
				<h5 class="banner-description">
					Доставляем любые грузы из Китая по честной цене.
				</h5>
				<a href="#" class="btn btn-primary btn-lg"
					>Рассчитать стоимость
					<img src="assets/img/icon-arrow-left.svg" alt="icon-arrow"
				/></a>
			</div>
		</div>
		<div
			class="swiper-slide"
			style="background-image: url(assets/img/banner-2.png)"
		>
			<div class="container">
				<h2 class="banner-title">Выкуп товара с ТаоБао, 1688</h2>
				<h5 class="banner-description">
					Выкуп и доставка товаров с китайских торговых площадок.
				</h5>
				<a href="#" class="btn btn-primary btn-lg"
					>Рассчитать стоимость
					<img src="assets/img/icon-arrow-left.svg" alt="icon-arrow"
				/></a>
			</div>
		</div>
		<div
			class="swiper-slide"
			style="background-image: url(assets/img/banner-3.png)"
		>
			<div class="container">
				<h2 class="banner-title">Экспресс авто доставка</h2>
				<h5 class="banner-description">
					Доставляем любые грузы из Китая по честной цене.
				</h5>
				<a href="#" class="btn btn-primary btn-lg"
					>Рассчитать стоимость
					<img src="assets/img/icon-arrow-left.svg" alt="icon-arrow"
				/></a>
			</div>
		</div>
		<div
			class="swiper-slide"
			style="background-image: url(assets/img/banner-4.png)"
		>
			<div class="container">
				<h2 class="banner-title">Аренда склада</h2>
				<h5 class="banner-description">
					Выкуп и доставка товаров с китайских торговых площадок.
				</h5>
				<a href="#" class="btn btn-primary btn-lg"
					>Рассчитать стоимость
					<img src="assets/img/icon-arrow-left.svg" alt="icon-arrow"
				/></a>
			</div>
		</div>
	</div>
	<div class="swiper-banner-arrow">
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>

	<div class="swiper-pagination"></div>
</section>

<div class="containner">
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quas deserunt
		fugit quia. Ratione magni voluptate, nobis facilis saepe alias repellendus
		nesciunt omnis quidem corporis molestias unde quod consequuntur distinctio
		placeat optio, error aut ipsum autem itaque quam recusandae veritatis!
		Cumque adipisci rem molestiae nisi consectetur dicta fuga qui sint harum
		labore, odit, commodi amet ipsam, autem quia. Consequuntur vitae rerum
		incidunt ullam assumenda cum, beatae aut vero id eum eius minima suscipit
		nobis recusandae dolorem itaque quibusdam voluptate! Minus delectus
		distinctio tempora consequuntur iusto veritatis exercitationem sapiente!
		Distinctio veniam repellat rem reiciendis animi tempore sit tempora vitae
		odit veritatis nostrum perferendis quae, voluptates saepe eius libero amet
		itaque? Quibusdam ratione quisquam quae amet dolorum molestiae sed
		necessitatibus corporis mollitia. Obcaecati sit vel sint molestiae nemo
		saepe beatae ut, a ratione eum modi nisi provident similique ipsum laborum
		non aspernatur dolores voluptas alias porro possimus officia. Quidem
		architecto soluta assumenda repellat, eum fugiat rem aliquid suscipit
		molestias id temporibus facere dolores ut. Labore neque consectetur ad quam
		nemo natus. Sunt, sint. Necessitatibus, earum et, illum magnam nemo in
		eveniet sapiente illo consectetur excepturi aspernatur placeat fugiat ullam
		obcaecati reiciendis dolore repellat veritatis doloribus distinctio
		voluptatibus! Quaerat eos voluptas modi deleniti!
	</p>
</div>
