<section class="swiper swiper-banner">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url(assets/img/banner-1.webp)">
      <div class="container">
        <h1 class="banner-title">Direct CARGO from China</h1>
        <h5 class="banner-description">We deliver any cargo from China at a fair price.</h5>
        <a href="#calculation" class="btn btn-primary btn-lg">
          Calculate the cost
          <img src="assets/img/icon-arrow-left.svg" alt="icon-arrow" />
        </a>
      </div>
    </div>
    <div class="swiper-slide" style="background-image: url(assets/img/banner-2.webp)">
      <div class="container">
        <h2 class="banner-title">Purchase of goods from Taobao, 1688</h2>
        <h5 class="banner-description">Purchase and delivery of goods from Chinese trading platforms.</h5>
        <a href="#calculation" class="btn btn-primary btn-lg">
          Calculate the cost
          <img src="assets/img/icon-arrow-left.svg" alt="icon-arrow" />
        </a>
      </div>
    </div>
    <div class="swiper-slide" style="background-image: url(assets/img/banner-3.webp)">
      <div class="container">
        <h2 class="banner-title">Express car delivery</h2>
        <h5 class="banner-description">We deliver any cargo from China at a fair price.</h5>
        <a href="#calculation" class="btn btn-primary btn-lg">
          Calculate the cost
          <img src="assets/img/icon-arrow-left.svg" alt="icon-arrow" />
        </a>
      </div>
    </div>
    <div class="swiper-slide" style="background-image: url(assets/img/banner-4.webp)">
      <div class="container">
        <h2 class="banner-title">Warehouse rental</h2>
        <h5 class="banner-description">Purchase and delivery of goods from Chinese trading platforms.</h5>
        <a href="#calculation" class="btn btn-primary btn-lg">
          Calculate the cost
          <img src="assets/img/icon-arrow-left.svg" alt="icon-arrow" />
        </a>
      </div>
    </div>
  </div>
  <div class="swiper-banner-arrow">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <div class="swiper-pagination"></div>
</section>