<section id="services" class="services bg-accent">
  <div class="container">
    <div class="template-title">
      <h2>Services</h2>
    </div>
    <div class="template-carousel">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card card_services" style="background-image: url(assets/img/services-1.png)">
              <div class="card-body">
                <h5 class="card-title">Redemption of goods</h5>
                <p class="card-text">
                  The company is a full range of logistics services for delivery of cargoes from China to Ukraine - prefabricated cargoes and whole commodity lots, services of intermediary TaoBao,
                  CARGO China-Ukraine.
                </p>
                <div class="card__btn-row">
                  <a href="#" class="btn btn-sm btn-secondary">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card card_services" style="background-image: url(assets/img/services-2.png)">
              <div class="card-body">
                <h5 class="card-title">Cargo insurance</h5>
                <p class="card-text">
                  The company is a full range of logistics services for delivery of cargoes from China to Ukraine - prefabricated cargoes and whole commodity lots, services of intermediary TaoBao,
                  CARGO China-Ukraine.
                </p>
                <div class="card__btn-row">
                  <a href="#" class="btn btn-sm btn-secondary">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card card_services" style="background-image: url(assets/img/services-3.png)">
              <div class="card-body">
                <h5 class="card-title">Warehouse rental</h5>
                <p class="card-text">
                  The company is a full range of logistics services for delivery of cargoes from China to Ukraine - prefabricated cargoes and whole commodity lots, services of intermediary TaoBao,
                  CARGO China-Ukraine.
                </p>
                <div class="card__btn-row">
                  <a href="#" class="btn btn-sm btn-secondary">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card card_services" style="background-image: url(assets/img/services-4.png)">
              <div class="card-body">
                <h5 class="card-title">Transfer of funds</h5>
                <p class="card-text">
                  The company is a full range of logistics services for delivery of cargoes from China to Ukraine - prefabricated cargoes and whole commodity lots, services of intermediary TaoBao,
                  CARGO China-Ukraine.
                </p>
                <div class="card__btn-row">
                  <a href="#" class="btn btn-sm btn-secondary">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-arrow-container">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
